body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.duel-bg-green {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    repeating-linear-gradient(
      to bottom,
      #e4fac7 0%,
      #e4fac7 2%,
      white 1.5%,
      white 3%
    );
}

.border-options-1 {
  background-color: #736984;
  padding: 8px;
  font-size: 1.875rem; 
  line-height: 2.25rem;
  font: 400;
  font-family: 'Nova Slim'; 
  border-radius: 8px;
  border: 4px solid #293031;
  text-shadow: 2px 2px 4px #ffb652;
}